.background { 
	overflow:hidden;
}

body{
	overflow:hidden;
}

.box{
	background-color: rgb(49, 49, 49);
	height: 800px;
	width: 1900px;

}

.list-container {
	height: 800px;
	overflow: hidden;
}

.list {
	overflow-y: scroll; /* Enable vertical scrolling */
	height: 100%; /* Set the height of the list */
	width: 1200px;
	align: center; /* Remove default margin */
	padding: 0; /* Remove default padding */
	list-style-type: none; /* Remove bullet points */
	
  }
  
  .list li {
	margin: 25px 25px;
	padding: 25px 16px; /* Add padding to list items */
	border: 1px solid #494949; /* Add border between list items */
	border-radius: 25px;
	
  }
  
  .list li:last-child {
	border-bottom: none; /* Remove border on last list item */
	
  }

/*
.e117_8 { 
	color:rgba(0, 0, 0, 1);
	width:376px;
	height:42px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0.5;
}
*/




